.nav {
  position: fixed;
  top: 5rem;
  z-index: 25;
  width: 50%;
  left: -50%;
  min-height: calc(100vh - 4rem);
  background:
  // cribbed: https://css-tricks.com/making-static-noise-from-a-weird-css-gradient-bug/
  repeating-conic-gradient(rgba(setcolor(white, base), 0.05) 0.000045%, rgba(setcolor(black, base), 0.05) 0.0005%) 60% 60%/3000px 3000px,
    linear-gradient(setcolor(blue, dark15), setcolor(blue, light15));
  border-right: 1px solid setcolor(blue, base);
  @extend %animate-helper;
  &-item {
    display: grid;
    grid-template-columns: 35px 1fr;
    padding: 1.25rem 0px 1.25rem 1.25rem;
    border-top: 1px solid rgba(setcolor(green, dark45), 0.5);
    &-link {
      text-decoration: none;
      color: setcolor(white, base);
    }
    &:hover {
      cursor: pointer;
    }
    &:last-of-type {
      border-bottom: 1px solid rgba(setcolor(green, dark45), 0.5);
    }
    &-small {
      font-size: calc($p-size * 0.5);
      font-weight: 700;
      margin-left: 3.5rem;
    }
  }
  &-open {
    transform: translateX(100%);
    padding-top: 2rem;
    box-shadow:
    3.2px 0px 2.9px -6px rgba(0, 0, 0, 0.01),
    10.9px 0px 6.9px -6px rgba(0, 0, 0, 0.025),
    24.2px 0px 13px -6px rgba(0, 0, 0, 0.044),
    45.6px 0px 23.2px -6px rgba(0, 0, 0, 0.068),
    80.9px 0px 43.4px -6px rgba(0, 0, 0, 0.097),
    164px 0px 104px -6px rgba(0, 0, 0, 0.15)
  ;
  
  }

}
