<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <title>{{title}}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="favicon.ico">
    <meta name="description" content="Easy lightweight disc golf score keeping">
    <link rel="manifest" href="/manifest.webmanifest">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="DiscKeeper">
    <meta name="apple-mobile-web-app-title" content="DiscKeeper">
    <meta name='apple-touch-fullscreen' content='yes'>
    <meta name="theme-color" content="#666D93">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <!-- Because Microsoft Exists -->
    <meta name="msapplication-starturl" content="vtbeertrail.com">
    <meta name="msapplication-config" content="/img/dk-icns/browserconfig.xml">
    <meta name="msapplication-navbutton-color" content="#666D93">
    <meta name="msapplication-TileColor" content="#666D93">
    <!-- Chrome for Android Add To Homescreen -->
    <meta name="mobile-web-app-capable" content="yes">
    <!-- Chrome for Android Tool Bar Color -->
    <meta name="theme-color" content="#666D93">
    <!-- The Essential Links -->
    <link rel="author" href="http://www.moosedog.io">
    <link rel="canonical" href="https://disckeeper.io">
    <!-- Facebook -->
    <meta property="og:url" content="https://disckeeper.io" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="DiscKeeper" />
    <meta property="og:image" content="https://disckeeper.io/img/disckeeper-logo.png" />
    <meta property="og:description" content="Easy lightweight disc golf score keeping" />
    <meta property="og:site_name" content="DiscKeeper" />
    <meta property="og:locale" content="en_US" />
    <!-- Twitter -->
    <meta property="twitter:url" content="https://disckeeper.io" />
    <meta name="twitter:site" content="@robinhoover">
    <meta property="twitter:title" content="DiscKeeper" />
    <meta property="twitter:description" content="Easy lightweight disc golf score keeping" />
    <meta property="twitter:image" content="https://disckeeper.io/img/disckeeper-logo.png" />
    {% set critical %}
      {% include "../../css/critical/critical.css" %}
    {% endset %}
    <!-- critical styles -->
    <style>
      {{ critical | safe }}
    </style>
    <!-- all other styles -->
    {% cssLink %}
    <!-- service worker initialize -->
    <script>  if ('serviceWorker' in navigator) {
    window.addEventListener('load', () => {
      navigator.serviceWorker.register('/disckeeper-service-worker-min.js');
    });
  };
    </script>
  </head>