  <!-- menu nav check -->
  <script>
    {% include "../../js-inline/mins/navcheck-min.js" %}
  </script>
  
  <!-- back button behavior -->
  <script>
    {% include "../../js-inline/mins/backbutton-min.js" %}
  </script>
  
  <!-- menu button behavior -->
  <script>
    {% include "../../js-inline/mins/menubutton-min.js" %}
  </script>
  
  <!-- nav menu close behavior -->
  <script>
    {% include "../../js-inline/mins/navclose-min.js" %}
  </script>

  <!-- Localforage -->
  <script src="{{ '/js/localforage.min.js' | url }}"></script>
  
  <!-- localforage config -->
  <script>
    {% include "../../js-inline/mins/localForage-config-min.js" %}
  </script>
  
  {% if page.fileSlug == 'create-player' %}
  <!-- createplayer behavior-->
  <script>
    {% include "../../js-inline/mins/createplayer-min.js" %}
  </script>
  {% endif %}

  {% if page.fileSlug == 'create-course' %}
  <!-- createcourse behavior-->
  <script>
    {% include "../../js-inline/mins/createcourse-min.js" %}
  </script>
  {% endif %}

  {% if page.fileSlug == 'adjust-pars' %}
  <!-- adjustpars behavior-->
  <script>
    {% include "../../js-inline/mins/adjustpars-min.js" %}
  </script>
  {% endif %}

  {% if page.fileSlug == 'round-setup' %}
  <!-- roundsetup behavior-->
  <script>
    {% include "../../js-inline/mins/roundsetup-min.js" %}
  </script>
  {% endif %}

  {% if page.fileSlug == 'round-scoring' %}
  <!-- roundscoring behavior-->
  <script>
    {% include "../../js-inline/mins/roundscoring-min.js" %}
  </script>
  {% endif %}

  {% if page.fileSlug == 'round-history' %}
  <!-- roundhistory behavior-->
  <script>
    {% include "../../js-inline/mins/roundhistory-min.js" %}
  </script>
  {% endif %}

  {% if page.fileSlug == 'statistics' %}
  <!-- statistics behavior -->
  <script src="https://code.highcharts.com/highcharts.js"></script>
  <script>
    {% include "../../js-inline/mins/statistics-min.js" %}
  </script>
  {% endif %}

  {% if page.fileSlug == 'list-players' %}
  <!-- list players behavior -->
  <script>
    {% include "../../js-inline/mins/listplayers-min.js" %}
  </script>
  {% endif %}

  {% if page.fileSlug == 'list-courses' %}
  <!-- list courses behavior -->
  <script>
    {% include "../../js-inline/mins/listcourses-min.js" %}
  </script>
  {% endif %}