%form {
  display: grid;
  grid-template-rows: repeat(3, max-content);
  row-gap: $h4-size;
  margin-top: $h3-size;
  &-input-text {
    width: 100%;
    padding-left: $p-size;
    border-radius: .25rem;
    border: 1px solid setcolor(green, base);
    font-size: $h5-size;
  }
  &-input-label {
    display: inline-block;
    transform: translateY(-3.5rem);
    margin-left:p-size;
    background: setcolor(white, base);
    font-weight: 700;
  }
  &-input-button {
    position: relative;
    font-size: $h4-size;
    line-height: calc($h4-size * $scale);
    background-image: linear-gradient(rgba(setcolor(blue, light45), 0.35), rgba(setcolor(blue, light15), 0.45));
    border: 2px solid setcolor(green, dark45);
    border-radius: .65rem;
    color: setcolor(green, dark15);
    @extend %box-shadow;
    &:disabled {
      opacity: 50%;
      color: setcolor(black, light65);
      background: setcolor(blue, light85);
      border: 1px solid setcolor(red, base);
    }
  }
}