.list-players {
  @extend %list-main;
  &-header {
    @extend %inner-header;
  }
  &-item {
    @extend %list-item;
    &-header {
      padding-left: $h6-size;
      line-height: $h4-size;
      border-bottom: 1px solid setcolor(blue, dark25);
      background-color: rgba(setcolor(blue, base), 0.15);
      font-weight: 700;
    }
    &-player {
      display: grid;
      grid-template-columns: 85% 15%;
      align-items: center;
      padding: $h6-size;
      & svg {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        justify-self: center;
        fill: setcolor(red, dark35);
      }
    }
    &-name {
      @extend %list-name;
    }
    &-delete {
      @extend %list-delete-text;
    }
  }
}