.round-history {
  row-gap: $h5-size;
  // grid-auto-rows: minmax(min-content, max-content);
  &-header {
    @extend %inner-header;
  }
  &-items {
    @extend %list-main;
  }
  &-stats {
    color: setcolor(blue, base);
    font-size: $h6-size;
    text-decoration: none;
    text-align: center;
    padding: $p-size;
    border: 1px solid setcolor(blue, dark25);
    border-radius: 0.25em;
    @extend %box-shadow;
  }
  &-round {
    display: grid;
    border-radius: 0.25rem;
    border: 1px solid setcolor(blue, base);
    @extend %box-shadow;
    &-header {
      padding: $h5-size $p-size;
      border-bottom: 1px solid setcolor(blue, dark25);
      background-color: rgba(setcolor(blue, base), 0.15);
      font-size: $h5-size;
      font-weight: 700;
      & span {
        float: right;
        font-size: $p-size;
        font-weight: 400;
      }
    }
    &-data {
      padding: $h6-size;
      line-height: $h4-size;
      &-name {
        font-size: $h5-size;
        line-height: $h4-size;
        font-weight: 700;
      }
      &-score {
        line-height: $h3-size;
        font-size: $h6-size;
        & span {
          font-weight: 700;
        }
      }
    }
  }
}