---
layout: layouts/inner.njk
title: Create Disckeeper Player
permalink: "/createplayer.html"
---
<form class="createplayer-form">
  <div class="createplayer-form-input">
    <input type="text" name="playerNameFirst" class="createplayer-form-input-text" required>
    <label for="playerNameFirst"  class="createplayer-form-input-label">First Name:</label>
  </div>
  <div class="createplayer-form-input">
    <input type="text" name="playerNameLast" class="createplayer-form-input-text" required>
    <label for="playerNameLast"  class="createplayer-form-input-label">Last Name:</label>
  </div>
  <button type="submit" class="createplayer-form-submit">
   Submit ➤
  </button>
</form>

<p class="createplayer-success">Success!!</p>