---
  layout: layouts/inner.njk
  title: Saved DiscKeeper Courses
  permalink: "/listcourses.html"
---

<!-- want to delete rounds from deleting course? -->
<div class="list-courses-modal" style="visibility:hidden;">
  <h4 class="list-courses-modal-header">Saved Rounds Conflict</h4>
  <p class="list-courses-modal-warning">You have saved rounds for the <span class="list-courses-modal-warning-name"></span> course. <br/><br />Do you want to:</p>
  <button class="list-courses-modal-choices" rh-both>Delete both the course, <br />and the saved rounds?</button>
  <button class="list-courses-modal-choices" rh-courseonly>Delete just the course?</button>
</div>
<section class="list-courses-items"></section>