---
  layout: layouts/inner.njk
  title: Create DiscKeeper Round
  permalink: "/roundsetup.html"
---

<!-- modal no primary -->
<div class="setup-modal-noprimary" style="visibility:hidden;">
  <p class="setup-modal-noprimary-header">You need to first add yourself as the Primary Player and Score Keeper for DiscKeeper to know what's going on.</p>
  <a href="/createplayer.html" class="setup-modal-link">You can do that here!</a>
</div>

<!-- modal no courses -->
<div class="setup-modal-nocourse" style="visibility:hidden;">
  <p class="setup-modal-nocourse-header">You need to first add at least one course before keeping score.</p>
  <a href="/createcourse.html" class="setup-modal-link">You can do that here!</a>
</div>

<!-- modal courses -->
<div class="setup-modal-courses" style="visibility:hidden;">
  <h4 class="setup-modal-courses-header">Courses</h4>
  <div class="setup-modal-courses-list"></div>
  <div class="setup-modal-courses-footer">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" class="setup-modal-courses-footer-close-icon"  stroke-linecap="round" stroke-linejoin="round" stroke-width="2"><path d="M2 30 L30 2 M30 30 L2 2" /></svg>
    <p class="setup-modal-courses-footer-close-text">Close<br /> Without<br /> Saving</p>
    <p class="setup-modal-courses-footer-save-text">Save<br /> and<br /> Close</p>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 122.881 89.842" class="setup-modal-courses-footer-save-icon"  stroke-linecap="round" stroke-linejoin="round" stroke-width="2"><path d="M1.232,55.541c-1.533-1.388-1.652-3.756-0.265-5.289c1.388-1.534,3.756-1.652,5.29-0.265l34.053,30.878l76.099-79.699 c1.429-1.501,3.804-1.561,5.305-0.132c1.502,1.428,1.561,3.803,0.133,5.305L43.223,88.683l-0.005-0.005 c-1.396,1.468-3.716,1.563-5.227,0.196L1.232,55.541L1.232,55.541z"/></svg>
  </div>
</div>

<!-- modal players -->
<div class="setup-modal-players" style="visibility:hidden;">
  <h4 class="setup-modal-players-header">Players</h4>
  <p class="setup-modal-players-explain">You, as the score keeper and primary player, have automatically been added to the list of players for this round.</p>
  <div class="setup-modal-players-list"></div>
  <div class="setup-modal-players-footer">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" class="setup-modal-players-footer-close-icon"  stroke-linecap="round" stroke-linejoin="round" stroke-width="2"><path d="M2 30 L30 2 M30 30 L2 2" /></svg>
    <p class="setup-modal-players-footer-close-text">Close<br /> Without<br /> Saving</p>
    <p class="setup-modal-players-footer-save-text">Save<br /> and<br /> Close</p>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 122.881 89.842" class="setup-modal-players-footer-save-icon"  stroke-linecap="round" stroke-linejoin="round" stroke-width="2"><path d="M1.232,55.541c-1.533-1.388-1.652-3.756-0.265-5.289c1.388-1.534,3.756-1.652,5.29-0.265l34.053,30.878l76.099-79.699 c1.429-1.501,3.804-1.561,5.305-0.132c1.502,1.428,1.561,3.803,0.133,5.305L43.223,88.683l-0.005-0.005 c-1.396,1.468-3.716,1.563-5.227,0.196L1.232,55.541L1.232,55.541z"/></svg>
  </div>
</div>

<!-- page content -->
<button class="setup-button" rh-button="courses" type="button">Which Course?</button>
<p class="selections-course"></p>
<button class="setup-button" rh-button="players" type="button">More Players?</button>
<p class="selections-players"></p>
<button class="setup-button" type="button" rh-goscore>Start Keeping Score! ➤</button>