---
  layout: layouts/inner.njk
  title: Check On Your Stats
  permalink: "/statistics.html"
---

<select id="courses">
  <option value="placeholder" selected>Choose A Course</option>
</select>
<div id="holeData" style="width: 100%; height: 800px;"></div>
<div id="roundData" style="width: 100%; height: 800px;"></div>